networks:
  web:
    external: true

services:
  home-assistant:
    image: lscr.io/linuxserver/homeassistant:latest
    container_name: home-assistant
    # network_mode: host
    networks:
      - web
    environment:
      PUID: ${PUID}
      PGID: ${PGID}
      TZ: ${TZ}
    volumes:
      - ${SSD_PATH}/home-assistant/data:/config
    ports:
      - 8123:8123 #optional
    restart: unless-stopped
