networks:
  web:
    external: true

services:
  adguardhome:
    image: adguard/adguardhome
    container_name: adguardhome
    restart: unless-stopped
    networks:
      - web
    ports:
      - 53:53/tcp # plain dns over tcp
      - 53:53/udp # plain dns over udp
      - 80:80/tcp # http web interface
      - 3000:3000/tcp # initial setup web interface
    volumes:
      - ${SSD_PATH}/network/adguardhome/config:/opt/adguardhome/conf # app configuration
      - ${SSD_PATH}/network/adguardhome/work:/opt/adguardhome/work # app working directory
