x-common-env: &common-env
  PUID: ${PUID}
  PGID: ${PGID}
  TZ: ${TZ}

networks:
  web:
    external: true

services:
  jellyfin:
    image: lscr.io/linuxserver/jellyfin:latest
    container_name: jellyfin
    networks:
      - web
    gpus: all
    environment:
      <<: *common-env
      JELLYFIN_PublishedServerUrl: "https://jellyfin.jeffslord.com" #optional
      NVIDIA_VISIBLE_DEVICES: all
      NVIDIA_DRIVER_CAPABILITIES: compute,video,utility
    volumes:
      - ${SSD_PATH}/media-system/jellyfin/config:/config
      - ${SSD_PATH}/media-system/jellyfin/cache:/cache
      - ${HDD_PATH}/media/libraries/shows:/data/tvshows
      - ${HDD_PATH}/media/libraries/movies:/data/movies
      - ${HDD_PATH}/media/libraries/anime:/data/anime
      - ${HDD_PATH}/media/libraries/anime_movies:/data/anime_movies
    restart: unless-stopped
    expose:
      - "8096"

  # Media Organizers
  sonarr:
    image: "lscr.io/linuxserver/sonarr:latest"
    container_name: sonarr
    networks:
      - web
    expose:
      - "8989"
    environment:
      <<: *common-env
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ${SSD_PATH}/media-system/sonarr/config:/config
      - ${HDD_PATH}/media:/media
    depends_on:
      - prowlarr
    restart: unless-stopped

  radarr:
    image: "lscr.io/linuxserver/radarr:latest"
    container_name: radarr
    networks:
      - web
    expose:
      - "7878"
    environment:
      <<: *common-env
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ${SSD_PATH}/media-system/radarr/config:/config
      - ${HDD_PATH}/media:/media
    depends_on:
      - prowlarr
    restart: unless-stopped

  flaresolverr:
    image: ghcr.io/flaresolverr/flaresolverr:latest
    container_name: flaresolverr
    networks:
      - web
    expose:
      - "8191"
    environment:
      <<: *common-env
      LOG_LEVEL: debug
      LOG_HTML: true
    sysctls:
      - net.ipv6.conf.all.disable_ipv6=1
    restart: unless-stopped

  prowlarr:
    image: lscr.io/linuxserver/prowlarr:latest
    container_name: prowlarr
    networks:
      - web
    environment:
      <<: *common-env
    volumes:
      - ${SSD_PATH}/media-system/prowlarr/config:/config
    expose:
      - "9696"
    restart: unless-stopped

  sabnzbdvpn:
    image: binhex/arch-sabnzbdvpn:latest
    container_name: sabnzbdvpn
    networks:
      - web
    sysctls:
      - net.ipv4.conf.all.src_valid_mark=1
    privileged: true
    ports:
      - "8080:8080"
      - "8090:8090"
      - "8118:8118"
      - "9118:9118"
      - "58946:58946"
      - "58946:58946/udp"
    environment:
      <<: *common-env
      VPN_ENABLED: true
      VPN_CLIENT: wireguard
      VPN_PROV: pia
      VPN_USER: ${VPN_USER}
      VPN_PASS: ${VPN_PASS}
      ENABLE_PRIVOXY: true
      STRICT_PORT_FORWARD: true
      ENABLE_SOCKS: true
      SOCKS_USER: ${VPN_USER}
      SOCKS_PASS: ${VPN_PASS}
      LAN_NETWORK: 192.168.1.0/24
      NAME_SERVERS: 1.1.1.1,1.0.0.1
    volumes:
      - ${HDD_PATH}/media:/data
      - ${HDD_PATH}/media:/media
      - ${SSD_PATH}/media-system/sabnzbdvpn/config:/config
    restart: unless-stopped

  # Subtitles
  bazarr:
    image: "lscr.io/linuxserver/bazarr:latest"
    container_name: bazarr
    networks:
      - web
    expose:
      - "6767"
    environment:
      <<: *common-env
    volumes:
      - ${SSD_PATH}/media-system/bazarr/config:/config
      - ${HDD_PATH}/media/libraries/shows:/data/tvshows
      - ${HDD_PATH}/media/libraries/movies:/data/movies
      - ${HDD_PATH}/media/libraries/anime:/data/anime
      - ${HDD_PATH}/media/libraries/anime_movies:/data/anime_movies
    depends_on:
      - jellyfin
    restart: unless-stopped

  jellyseerr:
    image: fallenbagel/jellyseerr:latest
    container_name: jellyseerr
    networks:
      - web
    environment:
      <<: *common-env
      LOG_LEVEL: debug
    ports:
      - 5055:5055
    volumes:
      - ${SSD_PATH}/media-system/jellyseerr/config:/app/config
    restart: unless-stopped
    healthcheck:
      test: wget --no-verbose --tries=1 --spider http://localhost:5055/api/v1/status || exit 1
      start_period: 20s
      timeout: 3s
      interval: 15s
      retries: 3
